<div class="container">
    <mat-card class="team">
        
        <h1>YOUR TEAM</h1>
            <ul>
                <li *ngFor="let mon of team">
                    <div (click)="displayPokemon(mon)">
                    <h3>{{mon.name}}</h3>
                    <img src={{mon.sprites.front_default}} class="teammate">
                    </div>
                </li>
            </ul>   
    </mat-card>
    <button class="battle" mat-raised-button color="warn" [disabled]="team.length < 2">BATTLE</button> 
</div>