.teamcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.team{
    padding:20px;
    height: 500px;
    width:200px;
    display: flex;
    align-items: center;
}

.teammate{
    width:60px;
}

.team ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team li{
    text-align: center;
}

.battle {
    padding: 40px;
    margin: 40px;
}