<div class="app">
  <div class="team">
   <app-pokemon-team></app-pokemon-team>
  </div>
  <div class="container">
    <app-pokemon-pagination
      #pagination
      [collectionSize]="pokemon.length"
      [pageSize]="30"
    >
      
    </app-pokemon-pagination>
    <div class="cards">
      <div *ngFor="let mon of pokemon
                  | slice
                  : (pagination.currentPage - 1) * pagination.pageSize
                  : pagination.currentPage * pagination.pageSize
            "
          >
              <img (click)="onClick(mon)" src={{mon.sprites.front_default}} class="avatar">
      </div>
    </div>
  </div>
  <div class="summary">
    <div *ngIf="!!monster">
      <app-pokemon-card
        [monster]="monster"
      >

      </app-pokemon-card>
    </div>
  </div>
<router-outlet></router-outlet>
