.pokedex-card {
    max-width: 400px;
  }
  
.avatar{
    width:50px; 
}

.container{
    width:100%;
    padding: 20px;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
}

.cards{
    display: grid;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;
}
.types{
    display: flex;
    flex-direction: row;
}