.app{
    display: flex;
    margin: 0 auto;
    flex-direction: row;
}
.pokedex-card {
    max-width: 400px;
  }
  
.avatar{
    width:50px; 
}

.team{
    flex-grow: 3;

}

.container{
    padding: 20px;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    flex-grow: 1;
}

.summary{
    flex-grow: 3;
}

.cards{
    display: grid;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;
}
.types{
    display: flex;
    flex-direction: row;
}