<div class="container">
  <div class="cards">
    <div *ngFor="let mon of pokemon">
      <mat-card class="pokedex-card" >
        <mat-card-header>
          
            <img  mat-card-avatar src={{mon.sprites.front_default}} class="avatar">
        
          <mat-card-title>{{mon.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-md-image src={{mon.sprites.other.home.front_default}} alt="pokedex image for togepi">
        <mat-card-content>
          <p>
            {{mon.dex_entry}}
          </p>
          <em>Type:</em>
          <div class="types">
            <div *ngFor="let type of mon.types">
              <p>{{type.type.name}} " "</p>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Action</button>
          <button mat-button>Action</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
